/*CSS that removes conflicting styleson the template and jquery mobile theme */
/* 
    Created on : 30-Apr-2015, 07:47:44
    Author     : Kaiste
*/
*{text-shadow: none;}
.full-event-details{background-color: #000}
p {line-height: 2.0;}
#quotes {line-height: 1.0; text-align: center;}
#quotes p,  #quotes a{font-size:11px; padding: 0px; margin: 0px; line-height: 1.5;}
#fullEventPopup div, #fullVenuePopup div, #trpr-title{padding:5px;}
.page-footer-content{display: none}
#contact-nst-page-header,#settings-page-header{color:#FFFFFF}